@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  font-family: Garamond ;

}
.logo{
  font-weight: bold;
  font-size: 21px;
  transition-duration: .6s;
}
.logo:hover{
  transform:scale(1.4);
  transition-duration: .6s;
}
.d_flex{
  display: flex;
}
nav{
  border-bottom: 1px solid rgba(186, 186, 186,.3) ;
  position: fixed;
  background: rgba(255, 255, 255,.97);
}
.navbar-brand {
margin-right: 0rem;
}
.navbar-light .navbar-toggler-icon {
    background-image:
url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='6' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-light .navbar-toggler {
border: none ;
}
.navbar-toggler:focus{
  outline: none;
}
.navbar-light .navbar-toggler{
  color: rgba(255, 255, 255,0);
}
.small_text{
  font-size: 16px;
}
 .button_start{
  border: 1px solid #c8c8c8;
  color: #a7a7a7 ;
  border-radius: 3px;
  font-size: 14px;
  background: white ;
  width: 90px;
  height: 35px;
}
 .button_start:hover{
   background: rgba(153, 153, 153,.12)
 }
 .nav_hover{
   transition-duration: .6s;
}
 .nav_hover:hover{
   transform:scale(1.4);
   transition-duration: .6s;
   }

button:focus{
  outline: none ;
}
.first_text{
height: 75vh;
display: flex;
flex-direction: column;
justify-content: center;
font-size: 18px;
padding: 0 60px 0 60px ;
}
.not_transporant{
  border: 1px solid #bababa ;
  color:  #949292 ;
  float: right;
  margin-top: -10px;
  border-radius: 4px;
  width:  10vw;
  height: 5vh ;
  background: none;
}
.not_transporant:hover{
   background: rgba(153, 153, 153,.22);
}
.logo_bottom{
  margin: auto;
  width: 20vw;
  padding-bottom: 0px;
}
.twiter{
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black ;
  margin-left: 10px;
}
.probel{
  height: 5vh;
}

.two_cols{
  max-height: 500px;
}
.page1{
  background-image: url(image/unnamed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;

}
.page2{
  background-image: url(image/kotelok-na-malenkom-kostre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;
}
.page3{
  background-image: url(image/razvedenie-kostra-v-lesu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;
}
.page4{
  background-image: url(image/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;
}
.page1_1{
  background-image: url(image/44859735_403.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;

}
.page2_2{
  background-image: url(image/canon-get-inspired-starry-skies-1-1920x1080-notint.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;
}
.page3_3{
  background-image: url(image/1392465360_1119884305.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;
}
.page4_4{
  background-image: url(image/OregonCoastBonfire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 30vh;
}
.decor_none{
  text-decoration: none;
  color: white ;

}
.decor_none:hover{
  color: #d7d7d7 ;
}
.button_transporant{
  border: 1px solid white ;
  background: none;
  color: white ;
  width: 80px;
  height: 40px;
}
.Title{
  width: 100%;
  height: 100%;
  opacity: 0 ;
  transition-duration: 1s ;
}
.Title:hover{
  opacity: 1 ;
  transition-duration: 1s ;
  background-color: rgba(0, 0, 0,.3)
}
.carousel-control-prev{
position: absolute;
left: 0px;
top: 60px;
max-width: 60px;
max-height: 300px;
}
.carousel-control-next{
position:  absolute;
float: right;
top: 60px;
right: 0px;
max-width: 60px;
max-height: 300px;
}
@media  (max-width: 849px) {
.karusel{
  width: 100% ;
  display: flex;
}
.d_flex{
  display: none;
}
.page1{
  width: 50vw;
  height: 30vh;
}
.page1_1{
  width: 50vw;
  height: 30vh;
}
.page2{
  width: 50vw;
  height: 30vh;
}
.page2_2{
  width: 50vw;
  height: 30vh;
}
.page3{
display: none ;
}
.page3_3{
display: none ;
}
.page4{
display: none ;
}
.page4_4{
display: none ;
}
}

.colum_flex{
  flex-direction:  column;
}
.one{
  justify-content: center;
  align-items: center;
 font-size: 20px;
 border-right:  3px solid #bfbfbf ;
  border-bottom:  3px solid #bfbfbf ;
  padding: 40px 40px 40px 40px;
}
.two{
  justify-content: center;
  align-items: center;
 font-size: 20px;
 border-right: 3px solid #bfbfbf ;
  border-bottom: 3px solid #bfbfbf ;
  padding: 40px 40px 40px 40px;
}
.bolt{
  font-weight: bold;
}
.three{
  justify-content: center;
  align-items: center;
 font-size: 20px;
   border-bottom:  3px solid #bfbfbf ;
  padding: 40px 40px 40px 40px;
}
.four{
  justify-content: center;
  align-items: center;
 font-size: 20px;
 border-right:  3px solid #bfbfbf ;
  padding: 40px 40px 40px 40px;
}
.six{
  justify-content: center;
  align-items: center;
 font-size: 20px;
  padding: 40px 40px 40px 40px;
}
.wrap{
  flex-wrap: wrap;
}
.five{
  justify-content: center;
  align-items: center;
 font-size: 20px;
 border-right:  3px solid #bfbfbf ;
  padding: 40px 40px 40px 40px;
}


.input{
  width: 22.2vw;
}
.label{
  width: 67vw;
}
.form-floating>.form-control, .form-floating>.form-select {
    height: calc(10.5rem + 2px);
    padding: 1rem .75rem;
}
.not_transporant{
  border: 1px solid #bababa ;
  color:  #949292 ;
  border-radius: 4px;
  width:  10vw;
  height: 5vh ;
  background: none;
}
.not_transporant:hover{
   background: rgba(153, 153, 153,.22);
}
.bordet_bottom{
    padding-bottom:  80px;
    border-bottom: 1px solid rgba(186, 186, 186,.3) ;
}
.input{
  width: 30.7%
}
.label{
width: inherit;
}
.hover{
  min-width: 50px;
min-height: 60px;
align-items: center;
justify-content: center;
transition-duration: .6s;
}
.hover:hover{
transform:scale(1.4);
transition-duration: .6s;
}
.firs_cols{
  border-bottom: 1px solid rgba(186, 186, 186,.3) ;
}
.revers_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
padding: 30px 60px 30px 60px ;
height: 50vh;
width: 70%;
font-size: 18px ;
}
.mt_top2{
  width: 30%;
  max-height: 550px ;
}
.block{
  flex-flow: row-reverse;
}


@media (max-width:849px) {
  .mt_top2{
    width: 50%;
  }
  .revers_block{
  width: 50%;
  }
  .block_2{
    height: 53vh;
  }
  .revers_block{
    font-size: 14px ;
  }
  .small_text{
    font-size:12px;
  }
}




@media (min-height:1109px) {
.mt_top2{
  min-height: 809px;
}
}


@media (max-width:1025px){
  .first_text{
    height: 60vh;
  }
  .ml-5{
    margin-left: 35px;
  }
}

@media (min-width:1921px) {
  .logo{
    font-size: 40px;
  }
  .active{
    font-size: 35px;
  }
  .messenger{
    width: 40px;
  }
  .first_text{
    font-size: 45px;
  }
  .small_text{
    font-size: 35px;
  }
  .revers_block{
    font-size: 45px;
  }
  h1{
    font-size: 60px;
  }
  .bigenes_text{
    font-size: 40px;
  }
  .bordet_bottom{
    font-size: 35px;
  }
  #twitter{
    width: 90px;
    height: 90px;
  }
  .twiter{
    width: 120px;
    height: 120px;
  }
  .united{
    font-size: 40px;
  }
}
button:focus{
  outline: none;
}
@media (max-width:769px) {
  .first_text{
    height: 60vh;
    padding: 0 30px 0 30px;
  }
  .block_2{
        height: 50vh;
  }
  .revers_block{
    height: 50vh;
    padding: 0 30px 0 30px;
  }
  .ml-5{
    margin-left: 27px;
  }
}

@media (max-width:575px) {
  .colum{
  display: flex;
  flex-direction: column;
  }
  .order_1{
    order: -1
  }
  .first_text{
  margin-top: 10px;
  }
  .mt_top_image{
    margin-top: 80px;
  }
  .order_2{
    margin-top: -100px;
  }
  .two{
     width: 100%;
  }
  .first_text{
  height: 45vh;
  margin-bottom: 40px;
  }
  .three_page{
    margin-top: 80px;
  }
  .four{
    border-bottom:  3px solid #bfbfbf ;
  }
  .one{
    border-right: none;
  }
  .five{
  border-bottom:  3px solid #bfbfbf ;
  border-right: none;
  }
  .firs_cols{
  border:none;
  }
  .mt_top2{
    width: 100%;
  }
  .revers_block{
  width: 100%;
  height: 45vh;
  margin-bottom: 80px;
  }
  .block_2{
    flex-direction: column;
      margin-top: 80px;
  }
  .block_2{
    height: 85vh;
  }
  .block{
    padding-top:  80px;
  }
  .mt_top_image{
    border: none;
  }
  .telegram{
    margin-top: 20px;
    margin-left: -25px;
    flex-wrap: nowrap;
    display: flex;
  }
  .twiter{
    padding: 0 ;
  }
  .nav_hover:hover{
  transform:none;
  }
  .logo{
    transform:none;
  }
  .input_margin{
    margin-top: 15px;
  }
  .form-control{
    width: 100%;
  }
  .form_control_first{
    width: 320%;
  }
}

@media (min-width:576px) {
  .five {
      border-right: 3px solid #bfbfbf;
  }
  .three {
    border-right: 3px solid #bfbfbf;
}
}

@media (max-width:599px) {
.not_transporant{
  min-width: 15vw;
    height: 5vh ;
  float: right;
}
.ml-5{
  margin-left: 0px;
}
}
.auto{
width: 67vw;
margin:auto;
justify-content: center;
font-weight: bold;
}

@media (max-width:767px) {
  .two{
     border-right:none ;
  }
  .first_text{
    font-size: 14px;
  }
.block_2{
  min-height: 60vh;
  justify-content: center;
}
.revers_block{
    padding-top: 40px;
}
  .four{
 border-right:none ;
    border-bottom:  3px solid #bfbfbf ;
  }
}

@media (min-width:768px) {
    .three {
      border-right: none;
    }
}

@media  (max-width:599px) {
.karusel{
  width: 100% ;
  display: flex;
}
.page1{
  width: 100vw;
  height: 50vh;
}
.page1_1{
  width: 100vw;
  height: 50vh;
}
.page2{
display: none ;
}
.page2_2{
display: none ;
}
.page3{
display: none ;
}
.page3_3{
display: none ;
}
.page4{
display: none ;
}
.page4_4{
display: none ;
}
.d_flex{
display: none;
}
.mt_top{
  margin-top: 5px;
}
.flex_colum{
  flex-direction: column;
  justify-content: flex-start;
}
.bordet_bottom{
  margin: auto;
}
}
@media (max-width:426px) {
  #twitter{
    max-width: 25px;
  }
  .twiter{
  width: 40px;
  height: 40px;
  }
  #twitter{
    max-width: 25px;
  }
  .twiter{
border: none;
margin-left: 0;
min-width: 30px;
  }
}
.contact{
  height: 1%
}
@media (max-width:390px) {

  .mt1{
    margin-top: 30px;
      }
      .mt_top2{
        margin-top: 80px;
      }
      .revers_block{
        padding: 0 ;
      }
  .telegram{
    margin-top: 30px;
    flex-direction: column;
    justify-content: flex-start ;
    margin-left: -130px;
  }
  .ms4{
    margin-left: 24px;
  }
}@media (max-width:321px) {
  #twitter{
    max-width: 25px;
  }
  .mt_top2{
    margin-top: 80px;
  }
  .twiter{
border: none;
margin-left: 0;
min-width: 30px;
  }
.margin_bottom_galery{
  margin-bottom: 50px;
  padding-bottom: 80px;
}
  .mt1{
    margin-top: 90px;
      }
      .first_text{
        padding: 0 ;
      }
      .revers_block{
        padding: 0 ;
      }
  .telegram{
    flex-direction: column;
  }
  .ms4{
    margin-left: 24px;
  }
}
